@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor0: #262626;
    --cor2: #15726c;
    --cor3: #219781;
    --cor4: #0D4040;
    --cor5: #362F40;
}

/*
    ESTILIZAÇÃO DE IDENTIFICADORES
*/

#alert {
    font-size: 1.3em;
    padding: 12px 20px;
    background-color: #f44336;
    color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.425);
    border: none;
    border-radius: 8px;
}

#alert:hover {
    background-color: #db3c31;
    transition: 0.2s linear 0s;
}

#outline {
    font-size: 1.2em;
    padding: 10px 30px;
    background-color: transparent;
    color: #db3c31;
    border: 1px solid #db3c31;
    border-radius: 4px;
}

#outline:hover {
    background-color: #db3c31;
    color: white;
    transition: 0.2s linear 0s;
}

#disabled {
    background-color: hwb(110 40% 33%);
    font-size: 1.2em;
    padding: 12px 30px;
    opacity: 50%;
    cursor: not-allowed;
}

#animated {
    background-color: var(--cor3);
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-size: 1.3em;
    padding: 12px 30px;
    transition: all 0.5s;
    cursor: pointer;
}

#animated span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#animated span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#animated:hover span {
    padding-right: 25px;
}

#animated:hover span:after {
    opacity: 1;
    right: 0;
}

#fading {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    background-color: #b1433b88;
    color: white;
    padding: 12px 30px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.425);
    border: none;
}

#fading:hover {
    background-color: #b1433b;
    transition: 0.8s;
}

#icon {
    background-color: rgb(228, 228, 57);
    padding: 10px 18px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.164);
}

#icon:hover{
    border: 1px solid rgba(0, 0, 0, 0.632);
    transition: none;
}

#social {
    padding: 25px 50px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.329);
    background-image: url(../imagens/youtube.jpg);
    background-size: cover;
    background-position: center center;

}

#social:hover {
    border: 1px solid rgba(218, 218, 218, 0.555);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.61);
    transition: transform 5s;
}

#check{
    background-color: #00d26a;
    border-radius: 20%;
    padding: 4px 5px 5px 4px;
}

#check:hover{
    border: 1px solid rgba(0, 0, 0, 0.632);
    transition: none;
}

#loading {
    background-color: rgb(71, 206, 138);
    font-size: 1.2em;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 12px 20px;
    cursor: progress;
}

#download {
    background-color: rgb(59, 216, 255);
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    padding: 13px 20px;
}

#download:hover {
    background-color: rgb(55, 193, 228);
    transition: 0.25s;
}

#mail{
    background-color: var(--cor0);
    font-size: 1.3em;
    padding: 13px 20px;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

#mail:hover{
    background-color: rgba(0, 0, 0, 0.545);
    transition: none;
}

#text{
    background-color: transparent;
    box-shadow: none;
    color:rgb(59, 216, 255);
    padding: 13px 20px;
    font-size: 1.5em;
}

#text:hover{
    background-color: rgba(211, 211, 211, 0.26);
    transition: none;
}

/*
    ESTILIZAÇÃO DE CLASSES
*/

.line {
    border-bottom: 3px solid rgba(0, 0, 0, 0.582);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    padding: 30px;
}

.label {
    text-align: center;
    margin-bottom: 5px;
    display: block;
}

.col {
    display: inline-block;
    flex-basis: auto;
}

.col button {
    margin: 0px;
    font-size: 2em;
    cursor: pointer;
}

/*
    ESTILIZAÇÃO DE MEDIA QUERIES
*/