@charset "UTF-8";

/* 
    PALETA DE CORES:
    VERDE: #49a09d
    LILÃS: #5f2c82 
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: white;
    width: 270px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
    
    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease;
}

section#login>div#imagem {
    display: block;
    background: #5f2c82 url('../imagens/predio.jpg') no-repeat;
    background-position: left bottom;
    background-size: cover;
    height: 200px;
}

section#login>div#formulario {
    display: block;
    padding: 10px;
}

div#formulario>h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario>p {
    font-size: 0.8em;
}

form > div.campo{
    background-color: #5f2c82 ;
    border: 2px solid #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

form label{
    display: none;
}

div.campo > span {
    color: white;
    /* background-color: black; */
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input{
    background-color: #74faf5;
    font-size: 1em;
    width: calc(100% - 45px); 
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-13px);
}

div.campo > input:focus-within{
    background-color: white;
    outline: 0;
}

form>input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form>input[type=submit]:hover {
    background-color: #367573;
}

form>a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    border: 1px solid #49a09d;
    text-decoration: none;
    color: #387a78;
    border-radius: 5px;
}

form>a.botao:hover {
    background-color: #6ae9e5;
}

form>a.botao>span {
    font-size: 0.8em;
}